<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header th:fragment="navbar" class="main-header">
	    <a th:href="@{/home}" class="logo-link">
	        <span>🐾</span> SanityPet
	    </a>
	    
	    <nav>
	        <ul class="nav-links">
	            <li><a th:href="@{/home}">Inicio</a></li>
	            <!-- Cliente  -->
	            <li sec:authorize="hasRole('ROLE_admin')"><a th:href="@{/clientes}">Clientes</a></li>
	            <!-- Citas -->
	            <li sec:authorize="hasRole('ROLE_admin')"><a th:href="@{/citas}">Citas</a></li>
	            <li sec:authorize="hasRole('ROLE_user')"><a th:href="@{/citas}">Mis Citas</a></li>
	            <!-- Mascotas -->
	            <li sec:authorize="hasRole('ROLE_admin')"><a th:href="@{/mascotas}">Mascotas</a></li>
	            <li sec:authorize="hasRole('ROLE_user')"><a th:href="@{/mascotas/mis-mascotas}">Mis Mascotas</a></li>
	            <!-- Tienda -->
	            <li><a th:href="@{/home}">Tienda Virtual</a></li>
	        </ul>
	    </nav>
	
	    <div class="user-info">
	        <span class="user-name" th:text="${#authentication.name}">Usuario</span>
	        <form th:action="@{/logout}" method="post" style="display:inline">
	            <button type="submit" class="btn-logout">Cerrar Sesión</button>
	        </form>
	    </div>
	</header>
</body>
</html>