<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&family=Golos+Text:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common/navfooter.css}">
    <link rel="stylesheet" th:href="@{/css/politicas/aviso.css}">
</head>
<body>

<header th:replace="~{common/navfooter :: navbar}"></header>

<main>
    <!-- Contenido aviso legal -->
</main>

<footer th:replace="~{common/navfooter :: pie}"></footer>

</body>
</html>
